.module-kind-article .cover {
  position: relative;
  border-radius: 8px;
  padding: 6px;
  overflow: hidden;
}
.module-kind-article .cover > .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 300ms;
}
:hover.module-kind-article .cover > .bg {
  transform: scale(1.1);
}

.module-kind-article .cover .tag {
  position: relative;
}
.module-kind-article .category-date {
  font-size: 12px;
  line-height: 16px;
}
.module-kind-article .category-date.skeleton {
  max-width: 150px;
  height: 16px;
}
.module-kind-article .title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
.module-kind-article .title.skeleton {
  height: 26px;
}
.module-kind-article .content {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.module-kind-article .content.skeleton {
  height: 44px;
}

@media only screen and (max-width: 1023px) {
  .module-kind-article .category-date {
    font-size: 10px;
    line-height: 14px;
  }
  .module-kind-article .category-date.skeleton {
    max-width: 125px;
    height: 14px;
  }
  .module-kind-article .title {
    font-size: 16px;
    line-height: 22px;
  }
  .module-kind-article .title.skeleton {
    height: 22px;
  }
  .module-kind-article .content {
    font-size: 14px;
    line-height: 18px;
  }
  .module-kind-article .content.skeleton {
    height: 36px;
  }
}