.page-slogan {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(38, 50, 77, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(38, 50, 77, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(38, 50, 77, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#26324d', GradientType=0);
    color: #fff;
    padding: 40px 0 262px;
    margin-bottom: -262px;
    text-align: center;

    .inner {
        max-width: 668px;
        margin: 0 auto;
    }

    .slogan {
        font-size: 40px;
        line-height: 48px;
    }

    .mini-blurbs {
        ul li {
            width: 96px;
        }

        .label {
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            color: #f4f4f6;
        }
    }
}