header.header > .row-1 {
  padding: 12px 0;
  background-color: #222939;
}
header.header > .row-2 {
  padding: 12px 0;
  background-color: #000000;
}
header.header .main-logo {
  height: 40px;
}
header.header .navbar {
  white-space: nowrap;
}
header.header .navbar a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header.header .navbar a.active {
  color: #f7d00e;
}
header.header .livechat {
  color: #f7d00e;
  text-decoration: none;
  white-space: nowrap;
}

@media only screen and (max-width: 1023px) {
  header.header .main-logo {
    height: 32px;
  }
}